In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from urllib.request import urlopen as UReq

In [2]:
headers = {'User-Agent': 
           'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/47.0.2526.106 Safari/537.36'}

In [3]:
page = "https://www.transfermarkt.es/laliga/marktwerte/wettbewerb/ES1/plus//galerie/0?pos=Sturm&detailpos=&altersklasse=alle"

In [4]:
pageTree= requests.get(page,headers=headers)

In [5]:
pageSoup = BeautifulSoup(pageTree.content, 'html.parser')

In [6]:
Players = pageSoup.find_all("a", {"class": "spielprofil_tooltip"})

In [7]:
jugadores= []
for i in range(25):
    jugadores.append(Players[i].text)

In [8]:
jugadores = jugadores [1:25]

In [9]:
len(jugadores)

24

In [10]:
jugadores.append("William José")

In [11]:
jugadores

['Lionel Messi',
 'Antoine Griezmann',
 'João Félix',
 'Eden Hazard',
 'Ousmane Dembélé',
 'Mikel Oyarzabal',
 'Ferran Torres',
 'Vinícius Júnior',
 'Rodrygo',
 'Rodrigo',
 'Iñaki Williams',
 'Álvaro Morata',
 'Ansu Fati',
 'Gareth Bale',
 'Lucas Ocampos',
 'Ángel Correa',
 'Luka Jovic',
 'Maxi Gómez',
 'Marco Asensio',
 'Karim Benzema',
 'Paco Alcácer',
 'Luis Suárez',
 'Samu Chukwueze',
 'Thomas Lemar',
 'William José']

In [12]:
Values = pageSoup.find_all("td", {"class": "rechts hauptlink"})

In [13]:
valores = []
for i in range(25):
    valores.append(Values[i].text)

In [14]:
valores

['112,00 mill. €\xa0',
 '96,00 mill. €\xa0',
 '81,00 mill. €\xa0',
 '80,00 mill. €\xa0',
 '56,00 mill. €\xa0',
 '48,00 mill. €\xa0',
 '45,00 mill. €\xa0',
 '45,00 mill. €\xa0',
 '45,00 mill. €\xa0',
 '40,00 mill. €\xa0',
 '40,00 mill. €\xa0',
 '36,00 mill. €\xa0',
 '36,00 mill. €\xa0',
 '32,00 mill. €\xa0',
 '32,00 mill. €\xa0',
 '32,00 mill. €\xa0',
 '32,00 mill. €\xa0',
 '32,00 mill. €\xa0',
 '32,00 mill. €\xa0',
 '32,00 mill. €\xa0',
 '28,00 mill. €\xa0',
 '28,00 mill. €\xa0',
 '27,00 mill. €\xa0',
 '24,00 mill. €\xa0',
 '24,00 mill. €\xa0']

In [15]:
base =pd.DataFrame({"Nombre":jugadores,"Valor Actual":valores})

In [16]:
base["Liga"]= "La Liga"

In [17]:
base

               Nombre     Valor Actual     Liga
0        Lionel Messi  112,00 mill. €   La Liga
1   Antoine Griezmann   96,00 mill. €   La Liga
2          João Félix   81,00 mill. €   La Liga
3         Eden Hazard   80,00 mill. €   La Liga
4     Ousmane Dembélé   56,00 mill. €   La Liga
5     Mikel Oyarzabal   48,00 mill. €   La Liga
6       Ferran Torres   45,00 mill. €   La Liga
7     Vinícius Júnior   45,00 mill. €   La Liga
8             Rodrygo   45,00 mill. €   La Liga
9             Rodrigo   40,00 mill. €   La Liga
10     Iñaki Williams   40,00 mill. €   La Liga
11      Álvaro Morata   36,00 mill. €   La Liga
12          Ansu Fati   36,00 mill. €   La Liga
13        Gareth Bale   32,00 mill. €   La Liga
14      Lucas Ocampos   32,00 mill. €   La Liga
15       Ángel Correa   32,00 mill. €   La Liga
16         Luka Jovic   32,00 mill. €   La Liga
17         Maxi Gómez   32,00 mill. €   La Liga
18      Marco Asensio   32,00 mill. €   La Liga
19      Karim Benzema   32,00 mill. €   La Liga
20       Paco Alcácer   28,00 mill. €   La Liga
21        Luis Suárez   28,00 mill. €   La Liga
22     Samu Chukwueze   27,00 mill. €   La Liga
23       Thomas Lemar   24,00 mill. €   La Liga
24       William José   24,00 mill. €   La Liga

In [18]:
headers = {'User-Agent': 
       'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/47.0.2526.106 Safari/537.36'}
page = "https://www.transfermarkt.es/premier-league/marktwerte/wettbewerb/GB1/plus//galerie/0?pos=Sturm&detailpos=&altersklasse=alle"
pageTree= requests.get(page,headers=headers)
pageSoup = BeautifulSoup(pageTree.content, 'html.parser')
Pl = pageSoup.find_all("a", {"class": "spielprofil_tooltip"})
Val = pageSoup.find_all("td", {"class": "rechts hauptlink"})
pl_players= []
pl_values = []
for i in range(25):
    pl_players.append(Pl[i].text)
    pl_values.append(Val[i].text)
pl_players = pl_players[1:25]
pl_players.append("Callum Hudson-Odoi")
premier = pd.DataFrame({"Nombre":pl_players,"Valor Actual":pl_values})

In [19]:
premier["Liga"]="PL"

In [20]:
base = base.append(premier)

In [21]:
headers = {'User-Agent': 
       'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/47.0.2526.106 Safari/537.36'}
page = "https://www.transfermarkt.es/1-bundesliga/marktwerte/wettbewerb/L1/plus//galerie/0?pos=Sturm&detailpos=&altersklasse=alle"
pageTree= requests.get(page,headers=headers)
pageSoup = BeautifulSoup(pageTree.content, 'html.parser')
Bl = pageSoup.find_all("a", {"class": "spielprofil_tooltip"})
Val = pageSoup.find_all("td", {"class": "rechts hauptlink"})
bl_players= []
bl_values = []
for i in range(25):
    bl_players.append(Bl[i].text)
    bl_values.append(Val[i].text)
bl_players = bl_players[1:25]
bl_players.append("Dodi Lukebakio")
bundes = pd.DataFrame({"Nombre":bl_players,"Valor Actual":bl_values})
bundes["Liga"]="Bundesliga"
base=base.append(bundes)

In [22]:
headers = {'User-Agent': 
       'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/47.0.2526.106 Safari/537.36'}
page = "https://www.transfermarkt.es/serie-a/marktwerte/wettbewerb/IT1/plus//galerie/0?pos=Sturm&detailpos=&altersklasse=alle"
pageTree= requests.get(page,headers=headers)
pageSoup = BeautifulSoup(pageTree.content, 'html.parser')
Bl = pageSoup.find_all("a", {"class": "spielprofil_tooltip"})
Val = pageSoup.find_all("td", {"class": "rechts hauptlink"})
sa_players= []
sa_values = []
for i in range(25):
    sa_players.append(Bl[i].text)
    sa_values.append(Val[i].text)
sa_players = sa_players[1:25]
sa_players.append("Josip Ilicic")
serie_A = pd.DataFrame({"Nombre":sa_players,"Valor Actual":sa_values})
serie_A["Liga"]="Serie A"
base=base.append(serie_A)

In [38]:
headers = {'User-Agent': 
       'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/47.0.2526.106 Safari/537.36'}
page = "https://www.transfermarkt.es/ligue-1/marktwerte/wettbewerb/FR1/plus//galerie/0?pos=Sturm&detailpos=&altersklasse=alle"
pageTree= requests.get(page,headers=headers)
pageSoup = BeautifulSoup(pageTree.content, 'html.parser')
Bl = pageSoup.find_all("a", {"class": "spielprofil_tooltip"})
Val = pageSoup.find_all("td", {"class": "rechts hauptlink"})
l1_players= []
l1_values = []
for i in range(25):
    l1_players.append(Bl[i].text)
    l1_values.append(Val[i].text)
l1_players = l1_players[1:25]
l1_players.append("Bertrand Traoré")
l1 = pd.DataFrame({"Nombre":l1_players,"Valor Actual":l1_values})
l1["Liga"]="League 1"
base=base.append(l1)

C:\Users\isaac\Anaconda3\lib\site-packages\pandas\core\frame.py:7123: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,

In [39]:
base

        Liga             Nombre     Valor Actual  index  level_0
0    La Liga       Lionel Messi  112,00 mill. €     0.0      0.0
1    La Liga  Antoine Griezmann   96,00 mill. €     1.0      1.0
2    La Liga         João Félix   81,00 mill. €     2.0      2.0
3    La Liga        Eden Hazard   80,00 mill. €     3.0      3.0
4    La Liga    Ousmane Dembélé   56,00 mill. €     4.0      4.0
..       ...                ...              ...    ...      ...
20  League 1     Martin Terrier   10,50 mill. €     NaN      NaN
21  League 1        Andy Delort   10,50 mill. €     NaN      NaN
22  League 1      Maxwel Cornet   10,50 mill. €     NaN      NaN
23  League 1      Dimitri Payet   10,00 mill. €     NaN      NaN
24  League 1    Bertrand Traoré    9,50 mill. €     NaN      NaN

[150 rows x 5 columns]

In [47]:
base= base[["Liga","Nombre","Valor Actual"]]

In [51]:
base=base.reset_index()

In [52]:
base=base[["Liga","Nombre","Valor Actual","index"]]

In [54]:
base=base[["Liga","Nombre","Valor Actual"]]

In [55]:
base

         Liga             Nombre     Valor Actual
0     La Liga       Lionel Messi  112,00 mill. €
1     La Liga  Antoine Griezmann   96,00 mill. €
2     La Liga         João Félix   81,00 mill. €
3     La Liga        Eden Hazard   80,00 mill. €
4     La Liga    Ousmane Dembélé   56,00 mill. €
..        ...                ...              ...
145  League 1     Martin Terrier   10,50 mill. €
146  League 1        Andy Delort   10,50 mill. €
147  League 1      Maxwel Cornet   10,50 mill. €
148  League 1      Dimitri Payet   10,00 mill. €
149  League 1    Bertrand Traoré    9,50 mill. €

[150 rows x 3 columns]

In [99]:
base.to_excel("TM_db.xlsx",index=False)

In [100]:
edad

[32,
 29,
 20,
 29,
 22,
 23,
 20,
 19,
 19,
 25,
 29,
 17,
 27,
 25,
 22,
 23,
 24,
 32,
 30,
 25,
 26,
 33,
 20,
 25,
 28,
 25,
 27,
 28,
 26,
 24,
 25,
 28,
 27,
 22,
 30,
 23,
 21,
 31,
 24,
 22,
 28,
 29,
 24,
 27,
 28,
 22,
 25,
 27,
 27,
 19,
 20,
 19,
 24,
 24,
 31,
 23,
 30,
 27,
 26,
 28,
 22,
 23,
 27,
 20,
 30,
 27,
 25,
 28,
 22,
 24,
 27,
 24,
 31,
 22,
 22,
 26,
 26,
 22,
 35,
 22,
 28,
 30,
 29,
 26,
 26,
 20,
 25,
 24,
 26,
 32,
 26,
 22,
 29,
 20,
 26,
 23,
 32,
 20,
 25,
 32,
 21,
 28,
 27,
 26,
 29,
 23,
 32,
 27,
 27,
 21,
 24,
 33,
 25,
 23,
 24,
 22,
 27,
 24,
 29,
 25,
 23,
 28,
 23,
 33,
 24]

In [101]:
len(edad)

125

In [120]:
df=pd.read_excel(r"C:\Users\isaac\Documentos\Eco\6to\Econometría II\TM_db.xlsx")

In [121]:
df = df[:125]

In [122]:
df["Edad"]=edad

In [123]:
df

         Liga             Nombre  Valor Actual  Edad
0     La Liga       Lionel Messi     112000000    32
1     La Liga  Antoine Griezmann      96000000    29
2     La Liga         João Félix      81000000    20
3     La Liga        Eden Hazard      80000000    29
4     La Liga    Ousmane Dembélé      56000000    22
..        ...                ...           ...   ...
120  League 1     Martin Terrier      10500000    23
121  League 1        Andy Delort      10500000    28
122  League 1      Maxwel Cornet      10500000    23
123  League 1      Dimitri Payet      10000000    33
124  League 1    Bertrand Traoré       9500000    24

[125 rows x 4 columns]

In [127]:
jugadores_champions={"Jadon Sancho","Erling Haaland","Serge Gnabry","Timo Werner","Robert Lewandowski","Kingsley Coman","Marco Reus",
"Thorgan Hazard",
"Marcel Sabitzer",
"Leon Bailey",
"Kevin Volland",
"Moussa Diaby",
"Thomas Müller",
"Yussuf Poulsen",
"Emil Forsberg",
"Patrik Schick",
"Ivan Perisic",
"Lionel Messi",
"Antoine Griezmann",
"João Félix",
"Eden Hazard",
"Ousmane Dembélé",
"Ferran Torres",
"Vinícius Júnior",
"Rodrygo",
"Rodrigo",
"Álvaro Morata",
"Ansu Fati",
"Gareth Bale",
"Lucas Ocampos",
"Ángel Correa",
"Luka Jovic",
"Maxi Gómez",
"Marco Asensio",
"Karim Benzema",
"Luis Suárez",
"Thomas Lemar",
'Raheem Sterling',
'Mohamed Salah',
'Sadio Mané',
'Harry Kane',
'Leroy Sané',
'Bernardo Silva',
'Roberto Firmino',
'Heung-min Son',
'Marcus Rashford',
'Gabriel Jesus',
'Christian Pulisic',
'Sergio Agüero',
'Riyad Mahrez',
'Anthony Martial',
'Tammy Abraham',
'Lucas Moura',
'Callum Hudson-Odoi',
'Paulo Dybala',
'Romelu Lukaku',
'Lautaro Martínez',
'Cristiano Ronaldo',
'Lorenzo Insigne',
'Duván Zapata',
'Arkadiusz Milik',
'Hirving Lozano',
'Federico Bernardeschi',
'Gonzalo Higuaín',
'Douglas Costa',
'Matteo Politano',
'Dries Mertens',
'Josip Ilicic',
'Kylian Mbappé',
'Neymar',
'Mauro Icardi',
'Wissam Ben Yedder',
'Ángel Di María',
'Florian Thauvin',
'Pablo Sarabia',
'Victor Osimhen',
'Gelson Martins',
'Edinson Cavani',
'Keita Baldé',
'Jonathan Bamba',
'Darío Benedetto',
'Dimitri Payet'}

In [128]:
len(jugadores_champions)

82

In [140]:
UCL =[]
for i in df["Nombre"]:
    if i in jugadores_champions:
        UCL.append(1)
    else:
        UCL.append(0)

In [141]:
UCL

[1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0]

In [142]:
df["Jugó UCL"]=UCL

In [143]:
df

         Liga             Nombre  Valor Actual  Edad  Jugó UCL
0     La Liga       Lionel Messi     112000000    32         1
1     La Liga  Antoine Griezmann      96000000    29         1
2     La Liga         João Félix      81000000    20         1
3     La Liga        Eden Hazard      80000000    29         1
4     La Liga    Ousmane Dembélé      56000000    22         1
..        ...                ...           ...   ...       ...
120  League 1     Martin Terrier      10500000    23         0
121  League 1        Andy Delort      10500000    28         0
122  League 1      Maxwel Cornet      10500000    23         0
123  League 1      Dimitri Payet      10000000    33         1
124  League 1    Bertrand Traoré       9500000    24         0

[125 rows x 5 columns]